.profile-pic{
    width: 200px;
    height: 200px;
}
/*#root{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    #border: 1px solid red;*/
/*}*/
input[type='number']{
    width: 40px;
}
.top-container{
    width:100%;
    #border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.top-left{
    #border: 1px solid yellow;
    width: fit-content;
}
.top-right{
    #border: 1px solid blue;
    width: fit-content;
}
.bot-container{
    #border: 1px solid brown;
}


.full{
    width:100%;
    height: 100%;
}