td, th{
    height:20px;
    text-align : center;
    border: 1px solid black;
}

table{
    width:70%;
    height: 70%;
}
#root{
    display: flex;
    height: 100%;
    justify-content: center;

}
/*html{*/
/*    height:100%;*/
/*}*/
/*body{*/
/*    height:100%;*/
/*}*/